<ul>
  <li>
    <a [routerLink]="['/home']">HOME</a>
  </li>
  <li>
    <a [routerLink]="['/contact']">CONTACT</a>
  </li>
  <li>
    <a [routerLink]="['/user-profil']">USER PROFIL</a>
  </li>
  <li>
    <a [routerLink]="['/sign-up']">SIGN UP</a>
  </li>
  <li>
    <a [routerLink]="['/kitchen']">KITCHEN</a>
  </li>
</ul>

<router-outlet></router-outlet>

<!-- <div>
    <MyComponent></MyComponent>
</div>
<div>
    <UserProfil></UserProfil>
</div>
<div>
    <Raclette></Raclette>
</div>
<div>
    <app-movie-list></app-movie-list>
</div> -->
<app-child [myInputData]=" 'chaine transmise via @Input' "></app-child>